/*------------------------------------------------------------------
[Table of contents]

1. Import libraries
2. Custom properties
3. General Styles
4. Typography
5. Navs and Tabs
6. Breadcrumb
7. Buttons
8. Utilities
9. Sections
10.Boxes and Cards
11.Accordion
12.Form
13.Responsive Layouts

-------------------------------------------------------------------*/

/* ---------------------------- */
/* Import libraries             */
/* ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../css/vendor/bootstrap.min.css');

/* ---------------------------- */
/* Custom properties            */
/* ---------------------------- */
:root {
  --primary-color:#FFF326;
  --secondary-color:#1E1E1E;
  --text-color:#FFFFFF;
  --text-color-2:#AAAAAA;
  --accent-color:#111111;
  --accent-color-2:#444444;
  --font-1:"Public Sans", sans-serif;
  --font-2:"Libre Franklin", sans-serif;
}

/* ---------------------------- */
/* General Styles               */
/* ---------------------------- */
body {
  font-family: var(--font-1);
  color: var(--text-color);
  background-color: var(--accent-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.bg-secondary-color {
  background-color: var(--secondary-color) !important;
}

.bg-accent-color {
  background-color: var(--accent-color) !important;
}

.bg-accent-color-2 {
  background-color: var(--accent-color-2) !important;
}

.text-primary-color {
  color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.text-color-2 {
  color: var(--text-color-2) !important;
}

.font-1 {
  font-family: var(--font-1);
}

.font-2 {
  font-family: var(--font-2);
}

.section {
  padding: 6em 2em 6em 2em;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.b-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

img {
  object-fit: cover;
}

.heading {
  font-family: var(--font-2);
  font-weight: 600;
}

/* ---------------------------- */
/* Typography                   */
/* ---------------------------- */
h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p, a {
  font-size: 18px;
}

/* ---------------------------- */
/* Navs and Tabs                */
/* ---------------------------- */
.nav-link {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--font-2);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color) !important;
}

.nav-link.active {
  color: var(--primary-color) !important;
}

.nav-link.dropdown-toggle:hover,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle.show {
  color: var(--primary-color) !important;
}

.dropdown-menu {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  padding: 15px 0;
  width: 220px;
}

.dropdown-item {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-2);
  margin: 15px 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--primary-color) !important;
  background-color: transparent;
}

.dropdown-item.active {
  color: var(--primary-color) !important;
  background-color: transparent;
}

.nav-pills .nav-link {
  padding: 10px 0;
  font-size: 22px;
  font-weight: bolder;
  text-align: end;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: var(--text-color);
}

/* ---------------------------- */
/* Breadcrumb                   */
/* ---------------------------- */
.breadcrumb {
  font-size: 18px;
}

.breadcrumb .breadcrumb-item>a {
  color: var(--primary-color);
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--text-color) !important;
}

.breadcrumb-item a:hover,
.breadcrumb-item.active {
  color: var(--text-color) !important;
}

/* ---------------------------- */
/* Buttons                      */
/* ---------------------------- */
.btn-cta-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: #FFF326 1px solid;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 600;
  font-family: var(--font-2);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-cta-primary:hover {
  background-color: var(--secondary-color) !important;
  color: var(--text-color);
  border: #FFFFFF 1px solid;
  transform: scale(1.05);
}

.btn-cta-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border: #FFFFFF 1px solid;
  border-radius: 30px;
  font-weight: 600;
  font-family: var(--font-2);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-cta-secondary:hover {
  background-color: var(--primary-color) !important;
  color: var(--accent-color);
  border: #FFF326 1px solid;
  transform: scale(1.05);
}

/* ---------------------------- */
/* Utilities                    */
/* ---------------------------- */
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 1;
  pointer-events: none;
  inset: 0;
}

.img-wrapper {
  width: 100%;
  max-width: 1000px;
}

.img-ratio-321 {
  position: relative;
  aspect-ratio: 3 / 4;
  overflow: hidden;
}

.img-ratio-121 {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-ratio-113 {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.links-primary {
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links-primary:hover,
.links-primary.active {
  color: var(--primary-color) !important;
}

.bg-wrapper {
  position: relative;
}

.bg-grayscale {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  display: block;
  width: 100%;
  height: 350px;
  pointer-events: auto;
}

.bg-wrapper:hover .bg-grayscale  {
  filter: grayscale(0%);
}

/* ---------------------------- */
/* Sections                     */
/* ---------------------------- */
.hero {
  font-family: var(--font-2);
  height: 90vh;
}

.feature {
  margin-top: -125px;
  z-index: 2;
}

.warranty {
  padding: 15vh 0;
}

.info-lb-overlay {
  width: 75%;
  background-color: rgba(17, 17, 17, 0.8);
  left: 8%;
  bottom: 8%;
  border-radius: 24px;
}

.reviews {
  overflow: hidden;
}

/* ---------------------------- */
/* Boxes and Cards              */
/* ---------------------------- */
.logo-box {
  max-width: 160px;
}

.feature-box-wrapper {
  background: transparent;
}

.feature-box {
  padding: 20px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-family: var(--font-2);
}

.feature-box:not(:last-child) {
  margin-bottom: 0;
}

.service-box {
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  z-index: 2;
  transition: all 0.3s ease;
}

.service-box.top-left {
  top: -75%;
  left: -10%;
}

.service-box.top-right {
  top: -75%;
  right: -10%;
}

.service-icon {
  top: 1px;
  left: 1px;
  background-color: var(--primary-color);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 0 15px var(--accent-color);
}

.service-icon i {
  color: var(--accent-color);
  font-size: 50px;
  font-weight:900;
}

.step-number {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 25px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.card {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 0;
}

.blogs {
  transition: all 0.3s ease;
}

.blogs-title {
  transition: color 0.3s ease;
  color: var(--text-color);
  text-decoration: none;
}

.blogs:hover .blogs-title {
  color: var(--primary-color);
}

.blogs-cover {
  transition: transform 0.5s ease;
  transform-origin: center center;
}

.blogs:hover .blogs-cover {
  transform: scale(1.05) rotate(1deg);
}

.social-box {
  display: flex;
  gap: 16px;
}

.social-box a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  align-content: center;
  text-align: center;
  padding: 7px 0;
  transition: all 0.3s ease-in-out;
}

.social-box a:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.card-team-label {
  background-color: var(--accent-color);
  opacity: 85%;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.card-service-label {
  background-color: rgba(17, 17, 17, 0.6);
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: 90%;
  max-height: 130px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.card-service-label .card-text {
  color: var(--text-color-2);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.group-card:hover .card-service-label {
  transform: translateX(-50%) translateY(-25%);
  max-height: 400px;
}

.group-card:hover .card-service-label .card-text {
  opacity: 1;
}

.footer-logo-box {
  height: 60px;
}

/* ---------------------------- */
/* Accordion                    */
/* ---------------------------- */
.accordion .accordion-item {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: var(--accent-color-2) 2px solid;
}

.accordion .accordion-button {
  font-family: var(--font-2);
  padding: 15px 0px;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: none !important;
  box-shadow: none !important;
}

.accordion .accordion-button::after {
  display: none;
}

.accordion .accordion-button.collapsed {
  color: var(--text-color-2);
  font-weight: 400;
  background-color: transparent;
}

.accordion .accordion-body {
  color: var(--text-color-2);
  padding: 10px 0px;
}

.accordion .accordion-body-2 {
  color: var(--text-color-2);
  padding: 10px 15px 10px 100px;
}

/* ---------------------------- */
/* Form                         */
/* ---------------------------- */
.form label {
  font-size: 18px;
  font-weight: 500;
}

.form input,
.form textarea {
  background-color: transparent;
  color: var(--text-color);
  border: solid 2px var(--accent-color-2);
  border-radius: 7px;
  outline: none;
  padding: 17px 30px;
}

.form input:focus,
.form textarea:focus {
    box-shadow: none;
    border: solid 2px var(--accent-color-2);
    background-color: transparent;
    color: var(--text-color);
}

.form input::placeholder,
.form textarea::placeholder {
    color: var(--text-color-2);
}

/* ---------------------------- */
/* Responsive Layouts           */
/* ---------------------------- */
@media only screen and (max-width: 1199.98px) {
  .section {
    padding: 5em 1.5em;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  p,a {
    font-size: 18px;
  }

  .hero {
    height: 90vh;
  }

  .service-box.top-left {
    top: 0;
    left: 0;
  }

  .service-box.top-right {
    top: 0;
    right: 0;
  }

  .img-ratio-321 {
    position: relative;
    aspect-ratio: 21 / 9;
    overflow: hidden;
  }

  .img-ratio-121 {
    position: relative;
    aspect-ratio: 21 / 9;
    overflow: hidden;
  }

  .info-lb-overlay {
    width: 90%;
    left: 5%;
    bottom: 15%;
  }

  .footer-logo-box {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 991.98px) {
  .section {
    padding: 4em 1em;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  p,a {
    font-size: 16px;
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0;
    padding: 5px;
  }

  .dropdown-item {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 768.98px) {
  .section {
    padding: 3em 1em;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p,a {
    font-size: 14px;
  }

  .hero {
    height: 80vh;
  }

  .feature {
    margin-top: 0;
    z-index: 2;
  }

  .nav-pills .nav-link {
    text-align: center;
  }

  .footer-logo-box {
    height: 100px;
  }

}

@media only screen and (max-width: 576.98px) {
  .section {
    padding: 2em 1em;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p, a {
    font-size: 12px;
  }

  .hero {
    height: 85vh;
  }

  .service-icon {
    width: 55px;
    height: 55px;
  }

  .info-lb-overlay {
    bottom: 27.5%;
    bottom: 10%;
  }

  .img-ratio-321 {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .img-ratio-113 {
    position: relative;
    aspect-ratio: 3 / 2;
    overflow: hidden;
  }

  .card-team-label {
    background-color: var(--accent-color);
    opacity: 85%;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  .footer-logo-box {
    height: 80px;
  }
}
